* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, monospace, 'Times New Roman', Times, serif;
    color: var(--blackish-color)
}

:root {
    --bgcolor1: #ecedf1;
    --greencolor: #2bb187;
    --blackish-color: #1f2c37;
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #0061ad;
    --margin-block-small: 40px;
    --margin-block-main: 80px
}

body {
    min-height: 100vh;
    min-width: 270px;
}



h3,
h4,
h5,
h6 {
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
}

h2 {
    font-size: 2rem;
    font-weight: 600;

}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1rem;
}

p {
    color: var(--secondary-text-color);
    margin: 0;
}

.p-text {
    font-size: 20px;
}

.p2-text {
    font-size: 16px;
}

.p3-text {
    font-size: 14px;
}

.padding-1 {
    padding: 40px 10px;
}

.padding-2 {
    padding: 80px 10px;
}

.margin-1 {
    margin-block: 40px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: var(--blackish-color);
}

.primary-btn {
    font-size: 16px;
    color: white;
    font-weight: 600;
    padding: 12px 30px;
    margin: 30px 10px;
    border-radius: 30px;
    background: #282727;
    border-color: #2f2f2f;
}

.primary-btn:hover {
    background-color: #000;
    color: #fff;
}

.secondary-btn {
    font-size: 16px;
    color: white;
    font-weight: 600;
    padding: 8px 20px;
    margin: 10px;
    border-radius: 30px;
    background: #282727;
    border-color: #2f2f2f;
    border: none;
}

.secondary-btn:hover {
    background-color: #000;
    color: #fff;
    box-shadow: 0 0 1px black;
}


.container {
    max-width: 1400px;
    margin: auto;
}