* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.card {
  width: 95% !important;
  height: 380px !important;
}
li {
  list-style-type: square;
}
b {
  font-size: 17px;
}
.avatar{
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 4px;
}
.profile{
  transition: all 0.5s linear;
  cursor: zoom-in;
}
.profile:hover{
  transform: scale(1.05);
}







